<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, minimal-ui" />
		<meta charset="utf-8" />
		<meta name="keywords" content="svatba, roman makudera, lenka sumbalová, brno">
		<meta name="description" content="Sazka" />
		<title>Sazka</title>
		<meta name="robots" content="noindex, follow">
		<meta name="revisit-after" content="7 Days">
		<meta name="author" content="Roman Makudera">

		<meta property="og:locale" content="cs_CZ">
		<meta property="og:title" content="Sazka">
		<meta property="og:image" content="https://makuderovi.cz/img/fb.png">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Sazka">
		<meta property="og:url" content="https://makuderovi.cz">

		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-config" content="/browserconfig.xml?v=<%= htmlWebpackPlugin.options.version %>" />
		<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?v=<%= htmlWebpackPlugin.options.version %>" />

		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="shortcut icon" href="/favicon/favicon.ico?v=<%= htmlWebpackPlugin.options.version %>" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-180x180.png?v=<%= htmlWebpackPlugin.options.version %>" />
		<link rel="icon" sizes="196x196" href="/favicon/apple-touch-icon.png?v=<%= htmlWebpackPlugin.options.version %>" />
	</head>
	<body>
		<div id="app"></div>
		<div id="portal"></div>
	</body>
</html>
